__pycache__/
*.pyc
*.pyo
*.db
*.sqlite
.env
.env.*
.venv/
.env
.env.*
backend/**/.env

.vscode/
.idea/
.DS_Store
Thumbs.db

.node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.eslintcache

backend/**/.pytest_cache/